<app-header
  [navbarBrandRouterLink]="['/dashboard']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'UTFPR Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="isAdmin() ? 'lg': false"
  [mobileAsideMenuToggler]="isAdmin() ? 'lg': false">
  <ul class="nav navbar-nav d-md-down-none">
    <app-mode-system></app-mode-system>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <app-nav-bar-item></app-nav-bar-item>
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar #appSidebar
               [fixed]="true"
               [display]="'lg'"
               [minimized]="sidebarMinimized"
               (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems"
                     [perfectScrollbar]
                     [disabled]="appSidebar.minimized">
    </app-sidebar-nav>

    <app-sidebar-minimizer></app-sidebar-minimizer>

  </app-sidebar>

  <main class="main">
    <cui-breadcrumb>
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
        </div>
      </li>
    </cui-breadcrumb>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

  <app-side-bar *ngIf="isAdmin()"></app-side-bar>

</div>

<app-footer>
  <span>De alunos para alunos &copy; 2020 UTFPR.</span>
  <span class="ml-auto">Theme <a href="https://coreui.io/angular">CoreUI for Angular</a></span>
</app-footer>
